
body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}

ul, ol {
list-style-type: none;
margin: 0;
padding: 0;}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  display: block;
}

a {text-decoration: none;}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ======= HEADER STYLES ======= */

.page-header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
  align-items: center;
}

.header-nav{
display: flex;
align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo{
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part{
    color: #2e2f42
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 40px;
}


.nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;

}

.nav-link.current::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  



}
.nav-link:hover, 
.nav-link:focus,
.nav-link.current
{color: #404bbf;}
.contacts {font-style: normal;}

/* ======= ADDRESS STYLES ======= */

.contacts{
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    align-items: 40;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


        .contacts-list{
          gap: 40px;
          display: flex;
          align-items: center;

        }

        .contacts-link:hover,
        .contacts-link:focus {
            color: #404bbf;
        }

                /* ======= HERO STYLES ======= */

.page-hero {
  background-color: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container{
  padding-left: 316px;
  padding-right: 316px;
  
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    color: #fff;}


.order-service-button {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

        .order-service-button:hover,
        .order-service-button:focus {
            background-color: #404BBF;
            color: #fff;
        }


             /* ======= BENEFITS STYLES ======= */


             .page-benefits 
             {
              padding-top: 120px;
              padding-bottom: 120px;
             }

                         .icons-benefits {
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           height: 112px;
                           background-color: #f4f4fd;
                           border-radius: 4px;
                           border: 1px solid #8e8f99;
                           margin-bottom: 8px;
                         }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
             .title-benefits{
              text-align: center;
              margin-left: 500;
            
              padding-bottom: 30px;
              
                color: #0e0d0d;
             }
            .subtitle{
              display: flex;
              gap: 24px;
              
             }

             .benefits{
              width: calc((100%-72px)/4);
             }
                         .subtitle-benefits {
                          margin-bottom: 8px;
                            font-family: "Roboto", sans-serif;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 1.2;
                                letter-spacing: 0.02em;
                                color: #2e2f42;}
            
                         .info-benefits {
                            font-family: "Roboto", sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 1.5;
                                letter-spacing: 0.02em;
                                color: #434455;
                         }

      /* ======= TEAM STYLES ======= */

          .page-team {
            background-color: #f4f4fd;
            padding-top: 120px;
            padding-bottom: 120px;
          }
    
          .title-teame {
            font-weight: 500;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                text-transform: capitalize;
                margin: 0 auto;
                margin-bottom: 72px;

          }

          .team-info
          {
            display: flex;
            gap: 24px;
          }
    
          .person-page {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 2px 1px rgba(46, 47, 66, 0.08);
            background-color: #fff;
            width: calc((100% - 3 * 24)/4);
            border-radius: 0 0 4px 4px;
            
            
          }
           
          .person-name {
           padding: 32px 0;
           }

          .team-person-name {
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                padding-top: 32px;
                margin-bottom: 8px;
          }

          
    
          .team-person-info {
            font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                text-align: center;
                color: #434455;
          }



                    .icon-list{
                      display: flex;
                      justify-content: center;
                      gap: 24px;
                      margin-bottom: 0px;
                      margin-top: 8px;
                      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }

                    .icon-item {
                     width: 40px;
                     height: 40px;
                  }

                    .icon-link {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      background-color: #4D5AE5;
                      border-radius: 50%;
                      align-items: center;
                      justify-content: center;
                      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    }

                    .icon-link:hover,
                    .icon-link:focus{
                      background-color: #404bbf;

                    }

                    .icon-link:hover .icon-icon
                    {
                      fill: rgb(28, 213, 233);
                    
                     }
          
                    .icon-icon {
                      fill: #F4F4FD;
                      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
          
                    


                  /* ======= PORTFOLIO STYLES ======= */


  .page-portfolio
{
padding-top: 120px;
padding-bottom: 120px;
}

  .title-portfolio {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;
        
  }

  .subtitle-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        gap: 24px;

  }

  .info-portfolio {
    background-color: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .info-portfolio:hover {
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

        .info-portfolio:hover .text-portfolio-overlay {
          transform: translateY(0%);
        }

        .text-portfolio-overlay {

            position: absolute;
            top: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            width: 100%;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

  .container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .caption-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
  }

  .desc-caption-portfolio {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 8px;
  }

  .picture-portfolio{
    position: relative;
    overflow: hidden;
  }

  .text-portfolio-overlay{
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      padding: 40px 32px;
      background-color: #4d5ae5;
      height: 100%;
      width: 100%;
      transform: translateY(100%);
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

     

  /* ======= FOOTER STYLES ======= */

    /* Общий стиль для футера */
    .page-footer {
      background-color: #2e2f42;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .footer-container {
      display: flex;
      align-items: center;
    }
  
    /* Лого в футере */
    .page-logo-footer {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
      margin-bottom: 16px;
      display: inline-block;
    }
  
    .logo-part {
      color: #f4f4fd;
    }
  
    /* Текст в футере */
    .text-footer {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      max-width: 264px;
    }
  
    .footer-container-one {
      margin-right: 120px;
    }
  
    /* Секция иконок социальных сетей */
    .icon-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .title-icons {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #fff;
      margin-bottom: 16px;
    }
  
    .icon-list-footer {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-top: 8px;
      margin-bottom: 0px;
    }
  
    .icon-item-footer {
      width: 40px;
      height: 40px;
    }
  
    .icon-link-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .icon-link-footer:hover,
    .icon-link-footer:focus {
      background-color: #31d0aa;
    }
  
    .icon-icon {
      fill: #f4f4fd;
    }